Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-identifier-naming,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-non-private-member-variables-in-classes,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -performance-noexcept-move-constructor

WarningsAsErrors: ''

HeaderFilterRegex: '.*include/quira/.*|.*src/.*'

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
